<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
    <div class="container text-center">
        <h3>Officer Info</h3>
    </div>
        <!-- speakers -->
        <div class="content text-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/angie.png}" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Zahid Anwar</h4>
                        <p class="card-text">Adviser</p>
                        <p class="card-text">Email: zanwar@fontbonne.edu</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/ecma.png}" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Zachary Hempen</h4>
                        <p class="card-text">President</p>
                        <p class="card-text">Email: hempenz@fontbonne.edu</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/geo.png}" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Paul Morrison</h4>
                        <p class="card-text">Vice-President</p>
                        <p class="card-text">Email: morrisonp@fontbonne.edu</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/jay.png}" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">Mya Robinson</h4>
                        <p class="card-text">Secretary</p>
                        <p class="card-text">robinsonm@fontbonne.edu</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/json.png}" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title">John McQuaide</h4>
                        <p class="card-text">Treasurer</p>
                        <p class="card-text">Email: mcquaidej@fontbonne.edu</p>
                    </div>
                </div>
            </div>

        </div><!-- /speakers -->
</th:block>
</body>
</html>



