<!DOCTYPE html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="en">
<body>
<th:block layout:fragment="content">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
<div class="container text-center">
    <h3>Officer Info</h3>
</div>
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Zahid</td>
            <td>Anwar</td>
            <td>zanwar@fontbonne.edu</td>
            <td>Adviser</td>
        </tr>
        <tr>
            <td>Zachary</td>
            <td>Hempen</td>
            <td>hempenz@fontbonne.edu</td>
            <td>President</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Morrison</td>
            <td>pmorrison@fontbonne.edu</td>
            <td>Vice-President</td>
        </tr>
        <tr>
            <td>Mya</td>
            <td>Robinson</td>
            <td>mrobinson@fontbonne.edu</td>
            <td>Secretary</td>
        </tr>
        <tr>
            <td>John</td>
            <td>McQuaide</td>
            <td>jmcquaide@fontbonne.edu</td>
            <td>Treasure</td>
        </tr>
        </tbody>
    </table>
</div>
</nav>
</th:block>
</body>
</html>



