<!doctype html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body class="pt-3">
<th:block layout:fragment="content">
    <!--jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container text-sm-center pt-5">
            <h1 class="display-2">Hackers' Club</h1>
            <p class="lead">Fontbonne University</p>
            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                <a class="btn btn-primary btn-lg" href="#register">Sign-Up Now!</a>
            </div>
        </div>
    </div>
    <!--/jumbotron -->
    <div th:fragment="flash" th:if="${flash != null}" class="alert alert-danger text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><span th:text="${flash}"></span></strong>
    </div>
    <div class="container pt-5">
        <!-- about -->
        <div class="row">
            <div class="col-sm">
                <h3 class="mt-2 mb-4 ">Mission Statement</h3>
                <p>The mission of the Fontbonne Hackers’ club is to serve as a forum where cyber-security enthusiasts may meet and discuss emerging security issues, practice ethical hacking skills, train for cyber defense competitions and conferences and promote awareness in all areas of cyber security among the faculty, staff, and student body of the university as well as the larger community.</p>
            </div>
            <div class="col-sm">
                <h3 class="mt-2 mb-4">What You'll Learn</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"><strong>Web Exploits</strong>: Cross-Site Scripting, HTML Injection, and OWASP ZAP</a>
                    <a href="#" class="list-group-item list-group-item-action"><strong>Metasploitable 2</strong>: Nmap, Exploits, and Backdoor</a>
                    <a href="#" class="list-group-item list-group-item-action"><strong>Offensive and Defensive</strong>: Hands on friendly competition of 2 teams. One offense and one defense</a>
                </div>
            </div>
        </div> <!-- /about -->

        <!-- speakers -->
        <h1 id="speakers" class="display-4 my-3 text-center text-muted">Adviser</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title text-center">Zahid Anwar</h4>
                        <p class="card-text">PhD from Illinois at Urbana/Champaign. Industry experience at IBM, Intel, Motorola, NCSA, CLS, CERN, xFlow, and Vertical Systems. Enjoys designing/hacking/analyzing networked software systems.</p>
                    </div>
                </div>
            </div>

        </div><!-- /speakers -->


        <!-- callout button -->
        <button type="button" class="btn btn-outline-info btn-lg d-block mx-auto my-5">Don't miss out, sign-up now!</button>

        <!-- signup form -->
        <hr />
        <form action="#" th:action="@{/register}" th:object="${attendee}" method="post">
            <div class="row py-4 text-muted">
                <div class="col-md-6">
                    <p><strong>About Fontbonne University</strong></p>
                    <p>Fontbonne University's values-based campus community promotes and embraces respect, compassion and service. Learn more. Be more.</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Stay up-to-date on upcoming Hacker Club meetings</strong></p>
                    <div class="input-group">
                        <input id="register" type="text" th:field="*{email}" class="form-control" placeholder="Enter your email for info..." aria-label="Enter your email for info..." aria-describedby="basic-addon2" />
                        <span class="input-group-btn"> <button class="btn btn-primary" type="submit" value="Submit">Sign up</button></span>
                    </div>
                </div>
            </div>
        </form>
        <hr /><!-- /signup form -->

        <!-- footer -->
        <div class="row py-3">
            <div class="col-md-5 text-right">
                <small>Fontbonne University</small>
            </div>
        </div>

        <!-- /footer -->

    </div>
</th:block>
</body>
</html>